@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'font-normal';
  src: url('/font/IBM_Plex_Sans_Thai/IBMPlexSansThai-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'font-medium';
  src: url('/font/IBM_Plex_Sans_Thai/IBMPlexSansThai-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'font-bold';
  src: url('/font/IBM_Plex_Sans_Thai/IBMPlexSansThai-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'font-light';
  src: url('/font/IBM_Plex_Sans_Thai/IBMPlexSansThai-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'font-sarabun';
  src: url('/font/Sarabun/Sarabun-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'font-jamjuree';
  src: url('/font/Bai_Jamjuree/BaiJamjuree-Medium.ttf') format('truetype');
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "font-normal" !important;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}


.swiper-pagination-bullet {
  width: 40px !important;
  height: 10px;
  margin: 0 10px;
  background-color: #000;
  border-radius: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #B30D14 !important;
}

.bg-content {
  background-image: url('/image/bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 460px;
  width: 100%;
}

.font-sarabun {
  font-family: "font-sarabun" !important;
  font-weight: 400 !important;
}

.font-jamjuree {
  font-family: "font-jamjuree" !important;
  font-weight: 400 !important;
}

.text-title {
  font-family: "font-medium" !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 28px !important;
}

.text-md {
  font-family: "font-normal" !important;
  font-weight: 700 !important;
}

.text-detail {
  font-family: "font-sarabun" !important;
  font-family: Sarabun;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.text-lg {
  font-family: "font-bold" !important;
  font-weight: 600 !important;
}

.ol {
  list-style-type: decimal;
  list-style-position: inside;
}